<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static',filename='style/interests.css')}}">

    <!-- Include the plugin's CSS and JS: -->
    <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />
    <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>

    <title>Friend-Zones</title>
</head>

<body>

    <h2 class="title">Preferences</h2>
    <div class="form-group">
        <form id="join-group" action="{{ url_for('get_profile') }}" method="POST">
            <label for="exampleInputEmail1">Activities</label>
            <div class="selectWrapper">
                <select class="selectBox" name="interests" id="activities" multiple="multiple" required>
                    <option value="restaurant">Restaurant</option>
                    <option value="amusement_park">Amusement Park</option>
                    <option value="night_club">Night Club</option>
                    <option value="movie_theater">Movie Theatre</option>
                    <option value="bar">Bar</option>
                    <option value="shopping_mall">Shopping Mall</option>
                </select>
            </div>

            <label class="margin-label">Choose a Price Range</label>
            <div class="price">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="$">
                    <label class="form-check-label" for="inlineRadio1">$</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="$$">
                    <label class="form-check-label" for="inlineRadio2">$$</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                        value="$$$">
                    <label class="form-check-label" for="inlineRadio3">$$$</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                        value="$$$$">
                    <label class="form-check-label" for="inlineRadio3">$$$$</label>
                </div>
            </div>
            <label class="margin-label" for="appt">Choose a time for your meeting:</label>
            <div>
                <input class="meet" type="time" id="appt" name="appt1" required>
                <input class="meet" type="time" id="appt" name="appt2" required>
            </div>
        </form>
        <button type="submit" class="btn btn-success btn-custom" form="join-group" value="Submit">Submit</button>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#activities').multiselect();
        });
    </script>
</body>

</html>