{% extends 'layout.html' %} {% block content %}

<script type="text/javascript">
  var watchID;
  var geoLoc;
  var prevLocation = null;

  function showLocation(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;

    var size = new google.maps.Size(6, 12);
    var myloc = new google.maps.Marker({
      clickable: false,
      icon: "./static/images/marker.png",
      shadow: null,
      zIndex: 999,
      scaledSize: size,
      map, // your google.maps.Map object
    });

    map.setCenter({ lat: latitude, lng: longitude });

    var me = new google.maps.LatLng(
      position.coords.latitude,
      position.coords.longitude
    );

    if (prevLocation === null) {
      prevLocation = myloc;
      map.setZoom(15);
    } else {
      prevLocation.setMap(null);
      prevLocation = myloc;
    }
    myloc.setPosition(me);

    $.ajax({
      type: "POST",
      url: "{{ url_for('get_recommendations') }}",
      contentType: "application/json",
      data: JSON.stringify({ latitude: latitude, longitude: longitude }),
      dataType: "json",
      success: function (response) {
        $("#loading").remove();

        response.forEach(res => {
          const { name, latitude, longitude, photo_reference, rating } = res;

          var marker = new google.maps.Marker({
            clickable: true,
            shadow: null,
            zIndex: 999,
            map, // your google.maps.Map object
          });

          var recc = new google.maps.LatLng(latitude, longitude);
          let stars = "";

          for (let i = 0; i < rating; ++i) {
            stars += `<img
                src="./static/images/star.png"
                style="height: 20px; width: 20px"
              />`;
          }

          marker.setPosition(recc);
          $("#recommendation-container")
            .append(`  <div class="d-flex p-2" style="outline: 1px solid grey; margin: 5px">
    <img src="./static/images/icon.jpeg" style="width: 75px; height: 75px" />
    <div>
      <b>${name}</b>
      <div>
         ${stars}
      </div>
    </div>
  </div>`);
        });
      },
      error: function (err) {
        console.log(err);
      },
    });
    //  alert("Latitude : " + latitude + " Longitude: " + longitude);
  }

  function errorHandler(err) {
    if (err.code == 1) {
      alert("Error: Access is denied!");
    } else if (err.code == 2) {
      alert("Error: Position is unavailable!");
    }
  }

  function getLocationUpdate() {
    if (navigator.geolocation) {
      // timeout at 60000 milliseconds (60 seconds)
      var options = { timeout: 60000 };
      geoLoc = navigator.geolocation;
      $("#recommendation-container")
        .after(`<div class="d-flex justify-content-center">
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>`);
      watchID = geoLoc.watchPosition(showLocation, errorHandler, options);
    } else {
      alert("Sorry, browser does not support geolocation!");
    }
  }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap&libraries=&v=weekly"
  defer
></script>

<div id="map"></div>
<div style="width: 100vw; height: 35%; overflow-y: scroll">
  <form>
    <input
      type="button"
      class="btn btn-primary btn-success btn-sm"
      onclick="getLocationUpdate();"
      value="Start Tracking Location"
    />
  </form>
  <h3 id="recommendations">Places to Visit</h3>
  <div id="recommendation-container"></div>

  {% endblock %}
</div>

<script>
  document.getElementById("blah").addEventListener("click", blah());
</script>
